<div class="container">
  <div *ngIf="data" class="content" role="main">
    <header class="header">
      <h1 class="header_title display">
        <span
          *ngFor="let titleValue of data.title; let i = index"
          class="inline-block"
          [ngClass]="i % 2 === 0 ? 'display_red' : 'display_white'"
          >{{ titleValue | uppercase
          }}{{ i < data.title.length - 1 ? " " : "" }}</span
        >
      </h1>
      <!--Date/Time/Location details
          TODO : could take advantage of html elements like <time> if data split as it appears visually on desktop -->
      <h2 class="header_details subtitle">{{ data.description }}</h2>
    </header>

    <app-matches [matches]="data.matches"></app-matches>
  </div>
</div>
