@import "./src/styles/_variables";
@import "./src/styles/typography";

.content {
  margin-top: 44px;
  @include respond-to("desktop") {
    margin-top: 12px;
  }
}

.matches {
  flex-direction: column;
  @include respond-to("tablet") {
    flex-direction: row;
  }
}

/* matches tablist */
.matches_wrapper {
  @include respond-to("desktop") {
    margin-top: 72px;
  }
}
.matches_eta {
  @include respond-to("tablet") {
    width: 142px;
    text-align: center;
    position: relative;
    top: 24px;
    margin: 0;
  }
}
.matches_tablist {
  position: relative;
  height: 100%;

  @include respond-to("tablet") {
    flex-direction: column;
  }
}

.matches_tab {
  height: 100%;
  flex-direction: column;
  align-items: center;
  &.first {
    align-items: flex-start;
  }
  &.last {
    align-items: flex-end;
  }
  @include respond-to("tablet") {
    flex-direction: row;
    &.first,
    &.last {
      align-items: center;
    }
  }

  position: relative;
  margin-bottom: 20px;
}

.matches_button {
  position: relative;
  color: rgba($white, 0.5);
  cursor: pointer;
  background: transparent;
  border: 0;
  transition: color 600ms ease-out;

  &[aria-selected="true"] {
    color: $white;
  }

  @include respond-to("tablet") {
    height: 83px;
  }
}

.matches_button_time {
  width: fit-content;
  margin: 0 14px;
  padding: 0;
  .first & {
    margin-left: 0;
  }
  .last & {
    margin-right: 0;
  }

  @include respond-to("tablet") {
    width: 142px;
    margin: 0;
    .first & {
      text-align: center;
    }
    .last & {
      text-align: center;
    }
  }
}

.matches_hr {
  position: relative;
  border: 0;
  width: 100%;
  height: 1px;
  background-color: $red;
  overflow: visible;
  margin-top: 20px;

  &:after {
    content: "";
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background-color: $red;
    border-radius: 50%;
    left: calc(50% - 5px);
    bottom: -5px;
    transition: box-shadow 600ms ease-out;

    .first & {
      left: 0;
    }
    .last & {
      left: calc(100% - 10px);
      background-color: $gold;
    }

    [aria-selected="true"] + & {
      box-shadow: 0 0 0 8px rgba($red, 0.2);

      .last & {
        box-shadow: 0 0 0 8px rgba($gold, 0.2);
      }
    }
  }

  @include respond-to("tablet") {
    margin: 0;
    width: 1px;
    height: calc(100% + 20px);

    &:after,
    .first &:after,
    .last &:after {
      left: -5px;
      top: calc(50% - 5px);
    }
    .first & {
      transform: translateY(50%);
      &:after {
        top: -10px;
      }
    }
    .last & {
      transform: translateY(-50%);
      &:after {
        top: auto;
        bottom: 0;
      }
    }
  }
}

.matches_button_title {
  display: none;
  @include respond-to("desktop") {
    display: flex;
    align-items: center;
    width: 450px;
    opacity: 0.5;
    transition: opacity 300ms ease-out;

    &[aria-selected="true"] {
      opacity: 1;
    }
  }
}

/* fight names */
.fighter {
  flex-basis: 50%;
}
.fighter:first-child {
  text-align: right;
}
.fighter:last-child {
  text-align: left;
}
.fighter_name,
.fighter_versus {
  color: $gold;
}
.fighter_versus {
  margin: 0 40px;
}
.fighter_surname {
  transition: font-size 300ms ease-out, line-height 300ms ease-out;
  [aria-selected="true"] & {
    @extend .h1_active;
    //font-size: 35px;
    //line-height: 42px;
  }
}

/* match */
.matches_tabpanels {
  display: grid;
  width: 100%;
  max-width: 620px;
  place-items: center;
}

.match {
  grid-area: 1 / 1;
  opacity: 1;
  transition: opacity 600ms ease-out;
}

.match_figure {
  margin: 0;
}

.match[aria-hidden="true"] {
  opacity: 0;
}

.match_figure {
  flex-direction: row-reverse;
  align-content: center;
}

.match_image {
}
